<launch>
 <!-- launch file params -->
    <arg name="localization" default="true" />

    <!-- external visual inertial odometry -->
    <include file="$(find msckf_vio)/launch/msckf_vio_realsense.launch" />

    <!-- camera and odom frame correction -->
    <arg name="pi/2" value="1.5707963267948966" />
    <arg name="optical_rotate" value="0 0 0 0 -$(arg pi/2) $(arg pi/2)" /> <!-- yaw pitch roll -->
    <node pkg="tf" type="static_transform_publisher" name="camera_base_link" args="$(arg optical_rotate) odom camera_link 100" /> 
     
    <!-- <node pkg="tf" type="static_transform_publisher" name="idk" args="0 0 0 0 0 0 map world 100" />  -->
    <!-- TODO: localization mode-->

    <include file="$(find rtabmap_launch)/launch/rtabmap.launch" >
        <arg name="localization"    value="$(arg localization)" />

        <arg name="initial_pose" value="0 0 0 0 0 0" /> <!-- x y z roll pitch yaw -->

        <arg if="$(arg localization)"     name="rtabmap_args"   value="" />
        <arg unless="$(arg localization)" name="rtabmap_args"   value="--delete_db_on_start"/>

        <arg name="left_image_topic"            value="/camera/infra1/image_rect_raw"/>
        <arg name="right_image_topic"           value="/camera/infra2/image_rect_raw"/>
        <arg name="left_camera_info_topic"      value="/camera/infra1/camera_info"/>
        <arg name="right_camera_info_topic"     value="/camera/infra2/camera_info"/>
        <arg name="stereo"                      value="true"/>
        <arg name="rviz"                        value="true"/>
        <arg name="rtabmap_viz"                 value="false"/> <!-- false for now due to vm issues -->
        <arg name="use_sim_time"                value="true" /> <!-- for rosbag play -->
        
        <arg name="frame_id"    value="camera_link"/>
        <arg name="odom_topic"  value="/gg/vio/odom"/>
        
        <arg name="approx_sync"     value="false"/> 
        <arg name="publish_tf_odom" value="false"/> 
        <arg name="visual_odometry" value="false"/>

        <arg name="queue_size"      value="30"/>
        <!-- <arg name="odom_topic" value="/gg/vio/odom"/> -->
        <!-- <arg name="subscribe_odom_info" value="false"/> -->
        
    </include>
</launch>